body {
    cursor: none;
}

.the-custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 3vw;
    height: 5vw;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2vw;
    font-size: 14px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: rgba(134, 134, 255, 0.181);
    transition: opacity 0.2s ease;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
}