
html {
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    position: fixed;
    top: -1px; 
    width: 101vw; 
    justify-content: center;
    background-color: black;
}

.navbar-left, .navbar-center, .navbar-right {
    height: 9.4vh;
}

.with-border {
    border: 1px solid white;
}


.menu-item {
    position: relative; 
    display: inline-block;
    cursor: pointer;
    font-size: 2.4vw;
    display: flex;
    flex-direction: column; 
    justify-content: left;
    margin: 1vh 0;
}

.menu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.menu-item:hover::after {
    width: 100%;
}


.nav-text {
    position: relative;
    display: inline-block; 
    cursor: pointer;
}

.nav-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.nav-text:hover::after {
    width: 100%;
}

.navbar-left {
    width: 15vw;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.the-logo {
    width: 2.2vw;
}

.logo-name {
    font-family: "Old Standard TT", serif;
    font-style: italic;
    padding-top: 0.3vw;
    font-size: 2vw;
}

.navbar-center {
    width: 65vw;
    flex-grow: 1;
    font-size: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8vw;
    padding-left: 8vw;
}

.navbar-right {
    width: 85px;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-cross {
    transition: transform 0.4s ease !important;
    cursor: pointer;
}

.menu-cross-rotate {
    transform: rotate(45deg) !important;
    cursor: pointer;
}


.header-not-active {
    position: fixed;
    top: 9.4vh;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    background-color: black;
    width: 100%;
    height: 70vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.menu-div{
    border: 1px solid rgb(255, 255, 255);
    border-left: none;
    width: 60vw;
    height: 70vh;
    display: flex;
    align-items: center;
}

.line-div-text {
    border: 1px solid rgb(255, 255, 255);
    border-left: none;
    border-right: none;
    width: 40vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-div-text-in-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    padding: 5vw;
}

.header-active {
    display: flex;
}

.dynamic-container {
    margin-left: 22.7vw;
}

.menu-title {
    font-size: 1.5vw;
    color: #ffffffcb;
    display: flex;
    flex-direction: column; 
    justify-content: left;
    margin: 1vh 0;
}

.rotate-45 {
    transform: rotate(45deg);
    transition: transform 1s ease;
}

.main-menu-hidden {
    position: fixed;
    top: 9.4vh;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    background-color: black;
    width: 100vw;
    height: 70vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.main-menu-appear {
    display: flex;
}

.menu-block-1 {
    margin-left: 13vw;
}

.menu-block-3 {
    margin-right: 13vw;
}

@media (max-width: 850px) {
    .navbar-left, .navbar-center, .navbar-right {
        height: 11vw;
        border: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar-right {
        width: 10vw;
        display: flex;
        align-items: center;
    }

    .logo-name {
        font-size: 24px;
    }

    .the-logo {
        height: 26px;
        width: 26px;
        margin-left: 30px;
    }

    .navbar-left {
        width: 25vw;
    }

    .navbar-center {
        display: none;
    }

    .header-active {
        position: fixed;
        top: 9vw;
        border: 1px solid white;
        background-color: black;
        width: 100%;
        height: 70vh;
        z-index: 1;
    }

}

@media (max-width: 550px) {

    .navbar {
        height: 10vh;
    }
    
    .the-logo {
        padding: 10px 0 0 10px;
    }

    .logo-name {
        padding: 10px 0 0px 3px;
    }

    .navbar-left {
        padding-top: 17px;
        padding-left: 20px;
    }

    .navbar-right {
        padding-right: 20px;
        padding-top: 20px;
    }

    .menu-cross {
        width: 25px;
    }

    .menu-item {
        font-size: 20px
    }

    .menu-title {
        font-size: 15px
    }

    .menu-block-1 {
        margin-top: 4vh;
        margin-left: 5vw;
    }
    
    .menu-block-3 {
        margin-right: 5vw;
    }

    .main-menu-hidden {
        top: 9vh;
    }

}

@media (max-width: 375px) {
    .menu-item {
        font-size: 16px
    }

    .menu-title {
        font-size: 12px
    }

    .menu-item:hover::after {
        width: 0%;
    }

    .menu-item.active::after {
        width: 100%;
    }

    .menu-item.active {
        color: #ffffff;
    }
}

